* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    padding: 0;
}

body {
    margin: 0;
}

.main-container {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    font-weight: 300;
    color: #464646;
    display: inline-block;
    font-size: 48px;
    margin-bottom: 0;
}

@media screen and (max-width: 500px) {
    .main-header {
        font-size: 32px;
    }
}

.art-container {
    min-width: 200px;
    min-height: 100px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1; /* fill remaining space */
}

@media screen and (max-width: 1000px) {
    .art-container {
        flex-direction: column;
    }
}

.art-container > .art-svg, .art-canvas-container {
    padding: 10px;
    max-width: 500px;
    width: 100%; /* required by chromium */
}

.center-disc {
    fill: hsl(14, 100%, 57%);
    transform-origin: center;
    transition-property: transform, fill;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.center-disc.grown {
    transform: scale(4);
    fill: hsl(0, 100%, 57%);
}

.svg-label {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0s;
}

.svg-label tspan {
    font-size: 22px;
    fill: #ffffff;
    font-family: sans-serif;
}

.svg-label.visible {
    opacity: 1;
    transition-delay: 1s;
}

.triangle-circle {
    transform-origin: center;
    transition: transform 2s ease-in-out;
}

.triangle-circle.rotated {
    transform: rotate(360deg);
}

.triangle-circle.rotated-reverse {
    transform: rotate(-360deg);
}

.art-canvas-container {
    display: flex;
    align-items: center;
}

.art-canvas {
    width: 100%;
    object-fit: contain;
}

/* Avoids text selection when double-clicking */
/* ref: https://caniuse.com/user-select-none */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* old Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Edge, Opera and Firefox */
}

.bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eaeaea;
    padding: 1.5rem 0;
    width: 100%;
    color: #464646;
}

.bio {
    max-width: 700px;
    padding: 0.5rem 2rem;
    font-size: 18px;
    color: #464646;
    font-style: italic;
}

.bio-img {
    width: 20rem;
    filter: grayscale(1);
    border-radius: 0.5rem;
    height: 8rem;
    object-fit: cover;
}

.docs-toggle {
    display: flex;
    cursor: pointer;
    color: #464646;
    background-color: white;
    line-height: 1.5;
    padding: .375rem .75rem;
    border-radius: 0.25rem;
}

.docs-toggle:hover {
    background-color: #f8f8f8;
}

.docs-toggle svg {
    margin-right: 0.5rem;
    fill: #464646;
}

.docs-container {
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    padding: 2rem;
}

.docs {
    max-width: 700px;
    padding: 2rem 0;
}

.docs-header {
    display: flex;
    line-height: 1.5;
    align-items: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.docs-header span {
    font-size: 2rem;
    color: #eee;
    margin-left: 1rem;
    display: table;
}

.docs-header svg {
    width: 64px;
    height: 64px;
    fill: #eee;
}

.docs-section {
    margin-bottom: 3rem;
}

.docs-section p {
    font-size: 18px;
    color: #cccccc;
    word-break: normal;
    line-height: 1.5;
}

.docs-section strong {
    font-size: 20px;
    color: #cccccc;
}

.docs-section a {
    color: grey;
}

.docs-highlight {
    background-color: #6c6c6c;
    border-radius: 0.4rem;
    padding: 0 0.25rem;
    white-space: nowrap;
}

.docs-attributions {
    /* Indent all lines except first */
    text-indent: -2rem;
    padding-left: 2rem;
}